<div class="heroimg d-flex justify-content-center align-items-center">
    <div class="herotext text-center">
        <h1 class="text-light fs-1">International worldwide Agency</h1>
        <h4 class="text-light">Book Your Trip</h4>
        <h4 class="text-light">And Get Your Freedom!</h4>
        <div class="d-flex justify-content-around">
            <button class="btn btn-success" routerLink="/menu">Our Trips Menu</button>

        </div>
    </div>
</div>
<div class="container text-center mt-5 mb-3">
    <h1>Welcome to our International worldwide Agency </h1>
    <p>Definitions and Who we are</p>
    <p>Some of the words you’ll see have very specific meanings, so please check out the ‘Booking.com dictionary’ in our Terms of Service. When you book an Accommodation, Booking.com B.V. provides and is responsible for the Platform – but not the Travel
        Experience itself (see 1B below). Booking.com B.V. is a company incorporated under the laws of the Netherlands</p>
    <p>How does our service work</p>
    <p>We make it easy for you to compare Bookings from many hotels, property owners and other Service Providers. When you make a Booking on our Platform, you enter into a contract with the Service Provider (unless otherwise stated). The information on our
        Platform is based on what Service Providers tell us. We do our best to keep things up to date at all times, but realistically it can take a few hours to update e.g. text descriptions and lists of the facilities that Accommodations provide.</p>
    <p>Prices</p>
    <p>The rates displayed on our Platform are set by the Service Providers. We may finance rewards or other benefits out of our own pocket. When you make a Booking, you agree to pay the cost of the Travel Experience itself and any other charges and taxes
        that may apply (e.g. for any extras). Taxes and fees may vary for different reasons, such as the Service Provider’s location, the kind of room selected and the number of guests. The price description tells you whether any taxes and charges are
        included or excluded. You’ll be able to find more information about the price while you’re booking. Our Platform provides descriptions of any equipment and facilities that Service Providers offer (based on what they tell us). It also tells you
        how much extra they’ll cost, if anything.</p>

    <p> Payments</p>
    <p>When you make a Booking on our Platform, Booking.com will organise your payment. For details, check out ‘Payment’ (A7) in our Terms of Service. 2I. Help and advice - if the unexpected happens If you have any questions, or something doesn’t go according
        to plan, just contact us. You can do this by accessing your Booking, or through our app, or through our Help Centre (where you’ll also find some useful FAQs). You can help us help you as quickly as possible - by providing: your Booking confirmation
        number, your PIN, your contact details, and the email address you used when you made your Booking a summary of the issue, including how you’d like us to help you any supporting documents (bank statement, photos, receipts, etc.). Whatever the issue,
        we will try to assist you (which includes handling any request or complaint), and will do what we can to help you. For more information, check out ‘What if something goes wrong?’ (A15) and ‘Applicable law and forum’ (A19) in our Terms of Service.</p>
</div>